<div class="card form-card">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="actions">
            <button>{{ button_label|default('Сохранить') }}</button>
            <a class="button button-secondary" href="{{ path('app_profile') }}">Отмена</a>
        </div>
    {{ form_end(form) }}
</div>
