{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div>
        {% if user.profile is not empty %}
            <p>
                {{ user.profile.bio }}
                <br>
                <a href="{{ path('app_profile_edit')}}">Редактирование профиля</a>
                <form method="post" action="{{ path('app_profile_delete') }}" onsubmit="return confirm('Вы уверены?');">
                    <button>Удалить профиль</button>
                </form> 
                <a href="{{ path('app_post') }}">Все посты</a<
            </p>

        {% else %}
            У вас нет профиля. Нажмите <a href="{{ path('app_profile_new') }}">сюда</a> для его создания
        {% endif %}
    </div>
{% endblock %}
